<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Информация о домене</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />


</head>
<body>
  <div class="container">
    <div class="card">
      <h1>Приветик, pozercpp!</h1>
      <p>
        Похоже, твой домен уже кто-то угнал)))<br />
        Чтобы заполучить его себе, отправь <a href="https://t.me/keramicheskiy" class="highlight">@keramicheskiy</a>
        <span class="stars">69 звёздочек</span> в телеграме ✨
      </p>
    </div>
  </div>
</body>
</html>
